* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
}

/* Sidebar Settings -----------------*/

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 1px solid red;
    display: grid;
    grid-template-rows: 3fr repeat(5, 1fr) 2fr repeat(2, 1fr) 6fr;
}

#sidebar img {
    position: relative;
    height: 22px;
    top: 4px;
    margin-right: 10px;
}

#sidebar div {
    padding-left: 40px;
}

#sidebar:not(#dashboard) {
    font-size: 1.1em;
}

#dashboard {
    padding-top: 30px;
    grid-row: 1 / 2;
    font-size: 1.75em;
}

#dashboard img {
    height: 35px;
    top: 7px;
}

#home {
    grid-row: 2 / 3;
}

#profile {
    grid-row: 3 / 4;
}

#messages {
    grid-row: 4 / 5;
}

#history {
    grid-row: 5 / 6;
}

#tasks {
    grid-row: 6 / 7;
}

#communities {
    grid-row: 7 / 8;
}

#settings {
    grid-row: 8 / 9;
}

#support {
    grid-row: 9 / 10;
}

#privacy {
    grid-row: 10 / 11;
}

/* Header ------------------- */

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    border: 1px solid red;
}

/* Header Top ------------------- */

#header-top {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#search-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

#profile-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header-top img {
    height: 22px;
}

#profile-photo {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
}

#header-top input {
    height: 25px;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 10px;
}

/* Header Bottom -------------------- */

#header-bottom {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#profile-big {
    display: flex;
    align-items: center;
}

#photo-big {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: black;
}

#text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 5px;
}

#small {
    font-size: 13px;
}

#big {
    font-size: 20px;
    font-weight: 500;
}

#btns {
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn {
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 20px;
}

/* Main ------------------------------ */

#main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 3fr 1.3fr;
}

/* Main Left ------------------------- */

#main-left {
    grid-column: 1 / 2;
    border: 1px solid red;
    padding: 0 15px;
}

#main-left h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
}

.card h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.card p {
    font-size: 15px;
}

.options {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    gap: 10px;
    justify-content: end;
}

.options img {
    height: 22px;
}

/* Main Right ------------------------- */

#main-right {
    grid-column: 2 / 3;
    border: 1px solid red;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Announcements ----------------------- */

#announcements h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

#announcements-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 10px;
}

#announcements-block h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

#announcements-block p {
    font-size: 14px;
}

span {
    text-decoration: underline;
}

span img {
    position: relative;
    height: 15px;
    top: 3px;
}

.line {
    width: 95%;
    height: 2px;
    border-radius: 15px;
    background-color: black;
    align-self: center;
}

/* Trending --------------------------- */

#trending h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

.trending-photo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: black;
}

#trending-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

#trending-block > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending-text h4 {
    font-weight: 500;
}

.trending-text p {
    font-size: 13px;
}