* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0.9fr 4fr;
    grid-template-rows: 1fr 4.5fr;
}

/* Sidebar Settings -----------------*/

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3fr repeat(5, 1fr) 2fr repeat(2, 1fr) 6fr;
    background-color: #2f243a;
    color: white;
}

#sidebar img {
    position: relative;
    height: 22px;
    top: 4px;
    margin-right: 10px;
    cursor: pointer;
}

#sidebar div {
    padding-left: 40px;
}

#sidebar:not(#dashboard) {
    font-size: 1.1em;
}

#dashboard {
    padding-top: 30px;
    grid-row: 1 / 2;
    font-size: 1.75em;
}

a {
    text-decoration: none;
    color: white;
}

#dashboard img {
    height: 35px;
    top: 7px;
}

#home {
    grid-row: 2 / 3;
}

#profile {
    grid-row: 3 / 4;
}

#messages {
    grid-row: 4 / 5;
}

#history {
    grid-row: 5 / 6;
}

#tasks {
    grid-row: 6 / 7;
}

#communities {
    grid-row: 7 / 8;
}

#settings {
    grid-row: 8 / 9;
}

#support {
    grid-row: 9 / 10;
}

#privacy {
    grid-row: 10 / 11;
}

/* Header ------------------- */

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.562);
}

/* Header Top ------------------- */

#header-top {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#search-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

#search-section img {
    position: absolute;
    left: 9px;
}

#profile-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header-top img {
    height: 22px;
    cursor: pointer;
}

#profile-photo {
    height: 40px;
    width: 40px;
    background: url("icons/koala.svg");
    border-radius: 50%;
}

#header-top input {
    height: 36px;
    width: 105px;
    font-size: 16px;
    border-radius: 18px;
    border: none;
    padding-left: 35px;
    background-color: #e4e1e1;
    transition: all .2s ease-in-out;
}

#header-top input:focus {
    width: 150%;
    background-color: #d2cfcf;
    outline: none;
}

#header-top input::placeholder {
    transition: all .2s ease-in-out;
}

#header-top input:focus::placeholder {
    opacity: 0;
}

/* Header Bottom -------------------- */

#header-bottom {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#profile-big {
    display: flex;
    align-items: center;
}

#photo-big {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background: url("icons/koala.svg");
}

#text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 5px;
}

#small {
    font-size: 13px;
}

#big {
    font-size: 20px;
    font-weight: 500;
}

#btns {
    display: flex;
    align-items: center;
    gap: 40px;
}

.btn {
    color: #444054;
    background-color: white;
    border: 2px solid #444054;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: #444054;
}

/* Main ------------------------------ */

#main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1.3fr;
}

/* Main Left ------------------------- */

#main-left {
    grid-column: 1 / 2;
    padding: 0 15px;
}

#main-left h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    border: 1px solid #d9d6d6;
    border-left: 5px solid #444054;
    box-shadow: 0px 0px 5px #e5e2e2;
    border-radius: 10px;
    padding: 10px 15px;
    transition: all .1s ease-in-out;
}

.card:hover {
    scale: 1.02;
}

.card h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.card p {
    font-size: 15px;
}

.options {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    gap: 10px;
    justify-content: end;
}

.options img {
    height: 22px;
    cursor: pointer;
}

/* Main Right ------------------------- */

#main-right {
    grid-column: 2 / 3;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

/* Announcements ----------------------- */

#announcements h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

#announcements-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #d9d6d6;
    box-shadow: 0px 0px 5px #e5e2e2;
    border-radius: 10px;
    padding: 15px 10px;
}

#announcements-block h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

#announcements-block p {
    font-size: 14px;
}

span {
    text-decoration: underline;
    cursor: pointer;
}

span img {
    position: relative;
    height: 15px;
    top: 3px;
    transition: all .2s ease-in-out;
}

span:hover img {
    transform: translate(5px, 0);
}

/* Trending --------------------------- */

#trending h1 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

.trending-photo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#photo-1 {
    background: url("icons/bee.svg");
}

#photo-2 {
    background: url("icons/alien.svg");
}

#photo-3 {
    background: url("icons/dolphin.svg");
}

#photo-4 {
    background: url("icons/octopus.svg");
}

#trending-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #d9d6d6;
    box-shadow: 0px 0px 5px #e5e2e2;
    border-radius: 10px;
    padding: 15px;
}

#trending-block > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending-text {
    line-height: 1.1em;
}

.trending-text h4 {
    font-weight: 500;
}

.trending-text p {
    font-size: 13px;
}