body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: 1px solid red;
    display: grid;
    grid-template-rows: 3fr repeat(5, 1fr) 2fr repeat(2, 1fr) 6fr;
}

#sidebar img {
    position: relative;
    height: 22px;
    top: 4px;
    margin-right: 10px;
}

#sidebar div {
    padding-left: 40px;
}

#sidebar:not(#dashboard) {
    font-size: 1.1em;
}

#dashboard {
    padding-top: 30px;
    grid-row: 1 / 2;
    font-size: 1.75em;
}

#dashboard img {
    height: 35px;
    top: 7px;
}

#home {
    grid-row: 2 / 3;
}

#profile {
    grid-row: 3 / 4;
}

#messages {
    grid-row: 4 / 5;
}

#history {
    grid-row: 5 / 6;
}

#tasks {
    grid-row: 6 / 7;
}

#communities {
    grid-row: 7 / 8;
}

#settings {
    grid-row: 8 / 9;
}

#support {
    grid-row: 9 / 10;
}

#privacy {
    grid-row: 10 / 11;
}

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 1px solid red;
}

#main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid red;
}